<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="/js/account.js"></script>
    <title>Account list</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Secure Bank</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/account/list/1}">Accounts</a></li>
                <li><a th:href="@{/request/list/1}">Requests</a></li>
                <li><a th:href="@{/transaction}">Transfer</a></li>
                <li><a th:href="@{/log/list/1}">Logs</a></li>
            </ul>
            <div class="pull-right">
                <ul class="nav pull-right navbar-nav">
                    <li><a th:href="@{/logout}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    <div class ="card">
        <div class ="card-block">
            <table class="table table-hover" id="acctable">
                <thead>
                    <tr>
                        <td><strong>ACCOUNT NO</strong></td>
                        <td><strong>NAME</strong></td>
                        <td><strong>BALANCE</strong></td>
                        <td><strong>TYPE</strong></td>
                        <td><strong>INTEREST</strong></td>
                        <td><strong>CREATE DATE</strong></td>
                        <td><strong>UPDATE DATE</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="account: ${accountList}">
                        <td th:text="${account.getAccountNo()}"></td>
                        <td th:text="${account.user.getEmailId()}"></td>
                        <td th:text="${account.getBalance()}"></td>
                        <td th:text="${account.getAccountType()} ==1 ? 'Checkings' : 'Savings'"></td>
                        <td th:text="${account.getInterest()}"></td>
                        <td th:text="${account.getCreated()}"></td>
                        <td th:text="${account.getUpdated()}"></td>
                        <td><a class="btn btn-primary eBtn">Edit</a></td>
                        <td><a class="btn btn-primary eBtn">Delete</a></td>
                    </tr>
                </tbody>
            </table>

            <div class="row" th:fragment="pagination">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav aria-label="Pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                                <a class="page-link" th:href="@{|/account/list/${pageNumber}|}" th:text="${pageNumber}">1</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="accountForm">
                <form th:action="@{/account/save/}" method="post">
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Account</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                                            <input type="text" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Message:</label>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>
</html>