<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Account list</title>

</head>
<body>

<div class="container">
    <div class ="card">

        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Tier Level</th>
                    <th>Designation ID</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dar : ${EmployeeList}">
                    <td th:text="${dar.employee_id}"></td>
                    <td th:text="${dar.employee_name}"></td>
                    <td th:text="${dar.gender}"></td>
                    <td th:text="${dar.age}"></td>
                    <td th:text="${dar.tier_level}"></td>
                    <td th:text="${dar.designation_id}"></td>
                    <td th:text="${dar.contact_no}"></td>
                    <td th:text="${dar.email_id}"></td>
                    <td th:text="${dar.address}"></td>
                    <td><a class="btn btn-primary eBtn">Edit</a></td>
                    <td><a class="btn btn-primary eBtn">Delete</a></td>
                </tr>

                </tbody>
            </table>

            <div class="row" th:fragment="pagination">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <nav aria-label="Pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                                <a class="page-link" th:href="@{|/log/list/page/${pageNumber}|}" th:text="${pageNumber}">1</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>