<!DOCTYPE html>
<html lang="en" xmlns:th=http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="webjars/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="cardblock">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID
                    </th>

                </tr>

                </thead>
            </table>
        </div>

    </div>

</div>

</body>
</html>