<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/prevent.js"></script>
</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Secure Bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/account/list/1}">Accounts</a></li>
            <li><a th:href="@{/request/list/1}">Requests</a></li>
            <li><a th:href="@{/transaction}">Transfer</a></li>
            <li><a th:href="@{/log/list/1}">Logs</a></li>
        </ul>
        <div class="pull-right">
            <ul class="nav pull-right navbar-nav">
                <li><a th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Request Successfully Approved!</h2>
    <form class="form-horizontal" action="/action_page.php" >
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-info" th:href="@{/request_list.html}">Back to Request</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>