<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Secure Bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/account/list/1}">Accounts</a></li>
            <li><a th:href="@{/request/list/1}">Requests</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transfer
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/transfer/account}">By Account</a></li>
                    <li><a th:href="@{/transfer/phone}">By Phone</a></li>
                    <li><a th:href="@{/transfer/email}">By Email</a></li>
                </ul>
            </li>
            <li><a th:href="@{/log/list/1}">Logs</a></li>
        </ul>
        <div class="pull-right">
            <ul class="nav pull-right navbar-nav">
                <li><a th:href="@{/logout}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template text-center">
        <h2>You have Successfully transferred!</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <a class="btn btn-info" th:href="@{/transfer/account}">Do Another Transfer</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>