<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <h2>Transaction Success</h2>
    <form class="form-horizontal" action="/action_page.php" >
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-success" href="/transaction">Do Another Transaction</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>